
.background-container{
    background:url(/pictures/background-picture.webp) top /cover no-repeat;
    
    width: 100vw;
    height: 80vh;
    -webkit-mask-image:linear-gradient(
    to bottom,
    black 55%,
    rgba(0,0,0,0.7) 65%,
    rgba(0,0,0,0.3) 75%,
    transparent 100%
    );
    mask-image:linear-gradient(
    to bottom,
    black 55%,
    rgba(0,0,0,0.7) 65%,
    rgba(0,0,0,0.3) 75%,
    transparent 100%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.matches::-webkit-scrollbar {
    display: none;
}
.match-conteiner:hover .match-info{
    height: 25vh;
}
.match-conteiner:hover .prevew{
    transform: translateY(20px);
}
.news-content{
    scrollbar-width: none;
}
.players-grid::-webkit-scrollbar{
    display: none;
}
.player-info-home-page::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(10,15,45,0) 0%,
    rgba(10,15,45,0.8) 100%
  );
  z-index: 1;
}

.player-info-home-page > *{
  z-index: 2;
}
.barca-stat-home-page{
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
}
.sponsers{
    background: linear-gradient(
    to bottom,
    rgba(9,15,45,0) 0%,
    #560307 40%);
}
.footer-home-page{
    --footer-offset: 315vh;
}