  .background-img{
    background:url(/pictures/historical-images/background.jpg) top /cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    -webkit-mask-image:linear-gradient(
    to bottom,
    black 55%,
    rgba(0,0,0,0.7) 65%,
    rgba(0,0,0,0.3) 75%,
    transparent 100%
    );
    mask-image:linear-gradient(
    to bottom,
    black 55%,
    rgba(0,0,0,0.7) 65%,
    rgba(0,0,0,0.3) 75%,
    transparent 100%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;

} 

.title{
  color: rgb(210, 215, 245);
  font-size: 34px;
  font-weight: 700;
}

.history-content{
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  width: 95%;
  height: 1200px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-140px);

}

.grid-title{
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  padding-top: 20px;
  color: rgb(10, 15, 49);
}

.history-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
}
.history{
  
  border: solid rgb(234, 237, 241) 2px;
  height: 290px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.history-img{
  height: 130px;
  width: 30vw;
}

@media(min-width:1200px){
  .history-img{
    height: 260px;
  }
  .history{
    height: 320px;
  }
}
.history-title{
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  padding: 4px;
  color: rgb(35, 35, 35);
} 