.footer{
    top: var(--footer-offset);
}
.media-logo{
    margin: 5px;
    height: 40px;
}
.position-name{
    color: white;
    font-weight: 600;
    font-size: 17px;
}
.position-players{
    width: 150px;
    display: flex;
    flex-direction: column;
}