.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgb(9,15,45);
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1020;
  }
.left-section{
    padding: 5px;
    float: left;
    
}
.right-section{
    padding: 5px;
    float: right;
}

.header-link{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }

.barca-logo{
    height: 40px;
    width: 40px;
    background-color: transparent;
}
.menu-button, .menu-button.open{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.menu-button{
  transform: translateX(0);
}
.menu-button.open{
  transform: translateX(-490px);

}
.menu-icon{
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.menu{
  transition: 3s ;
}

.menu-content{
    width: 500px;
    position: fixed;
    top: 0px;
    height: 100%;
    background-color: rgb(8,14,45);
    border-left: 5px solid #81040b;
    transition: transform 0.2s ease;
    z-index: 1021;
    display: flex;
    flex-direction: column;
    gap: 10px;  
    
}
.menu-content.right{
    right: 0;
    transform: translateX(100%);
}

.menu-content.right.open{
    transform: translateX(0);
}
.close-button-conteiner{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
    height: 30px;
}
.close-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
.close-button:hover{
    color: #8b8b8b;
}
.search-input{
    width: 90%;
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
  }

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    margin-left: 20px;
}
.link-nav{
    text-decoration: none;
    color: white;
    font-size: 46px;
    font-weight: bold;
}
.link-container{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    width: 90%;
}