.menu-button{
  transform: translateX(0);
}
.menu-button.open{
  transform: translateX(-490px);
}
.menu-content.right{
    right: 0;
    transform: translateX(100%);
}
.menu-content.right.open{
    transform: translateX(0);
}
.link-nav{
    text-decoration: none;
    color: white;
    font-size: 46px;
    font-weight: bold;
}
.link-container{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    width: 90%;
}