.legends-background-img{
    background:url(/pictures/Legends-pictures/legends-background.jpg) top /cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    -webkit-mask-image:linear-gradient(
    to bottom,
    black 55%,
    rgba(0,0,0,0.7) 65%,
    rgba(0,0,0,0.3) 75%,
    transparent 100%
    );
    mask-image:linear-gradient(
    to bottom,
    black 55%,
    rgba(0,0,0,0.7) 65%,
    rgba(0,0,0,0.3) 75%,
    transparent 100%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;

} 
.legendary-players-footer{
  --footer-offset: 5000px
}
@media(min-width:1280px){
  .legendary-players-footer{
    --footer-offset: 5400px;
  }
  .starting-text-legend{
    transition: transform 0.7s ease,opacity 0.35s ease;
  }
}