.matches-footer{
  --footer-offset: 6600px
}
.top-background-matches{

background:url(/pictures/club-logos/background.jpg) top /cover no-repeat;
    
    width: 100vw;
    height: 60vh;
    -webkit-mask-image:linear-gradient(
    to bottom,
    black 55%,
    rgba(0,0,0,0.7) 65%,
    rgba(0,0,0,0.3) 75%,
    transparent 100%
    );
    mask-image:linear-gradient(
    to bottom,
    black 55%,
    rgba(0,0,0,0.7) 65%,
    rgba(0,0,0,0.3) 75%,
    transparent 100%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;

}
.latest-match-title{
  color: white;
  font-size: 25px;
  font-weight: 700;
  padding: 20px 0px 0px 20px;
}
.latest-match-info{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.latest-match-score-info{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.latest-match-score{
  font-weight: 600;
  font-size: 38px;
  padding: 5px 10px 5px 10px;
  background: linear-gradient(180deg, rgba(225, 10, 50, 0.8) 0%,rgba(10,15,45,1) 100%);

}
.latest-match-tournament-img{
    height: 120px;
}
.latest-match-team-name{
  font-weight: 700;
  font-size: 38px;
}
.latest-match-team-img{
  height: 120px;
}
.latest-match-club{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  }
.matches-result{
  width: 95%;
  height: 6080px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px 30px 0px 0px;
}
.matches-title{
    font-size: 30px;
    font-weight: 700;
    color: rgb(10,15,55);
    text-align: center;
    padding-top: 20px;
}
.matches-grid{
    display: grid;
    grid-template-columns: 1fr ;
}
.result-match-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    position: relative;
}
.result-match-info::after{
    content: "";
    position: absolute;
    bottom: -30px;
    width: 90%;
    height: 2px;
    background-color: rgb(10,15,55);
}
.club-img{
  height: 60px;
}
.vs-info{
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.tournament-img{
  height: 50px;
  
}
.vs-text{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0px;
  color: white;
  background-color: rgb(10,15,55);
  height: 30px;
  width: 50px;
  padding-top: 8px;
  text-align: center;
  background: linear-gradient(180deg, rgba(34, 61, 210, 0.8) 0%,rgba(10,15,45,1) 100%);
}
.club{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.club-name{
  font-weight: 600;
  color: rgb(10,15,55);
  text-align: center;
}